.hero4{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 130px;
    background-color: #fff;
    height: 70vh;
    box-sizing: border-box;
}


.hero-text {
    padding: 20px;
    max-width: 500px;
}

.hero-text h3 {
    color: #333;
font-size: 3em;
}

.hero-text p {
    font-size: 1em;
    color: #666;
    line-height: 1.6;
}
.hero4 img{
    padding-top: 50px;
}